/node_modules
/.pnps
.pnp.js


/coverage


/build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dependency files
Pipfile
Pipfile.lock
poetry.lock
requirements.txt

# Ignore Python logs
logs/
*.log